// #F96167, #F9E795, #FD8799
//$base-color: #ffce32;

$nav-bg: #f9e795;
$base-color: #f9e795;

$secondary-color: #f96167;
$background-color: hsl(43, 60%, 81%);
$border-dark: rgba($base-color, 0.88);
$contact-form-bg: #f96167;
$font-color: #fd8799;
